.gitignore.swp
.ft_atoi.c.swp
.ft_bzero.c.swp
.ft_calloc.c.swp
.ft_isalnum.c.swp
.ft_isalpha.c.swp
.ft_isascii.c.swp
.ft_isdigit.c.swp
.ft_isprint.c.swp
.ft_itoa.c.swp
.ft_memccpy.c.swp
.ft_memchr.c.swp
.ft_memcmp.c.swp
.ft_memcpy.c.swp
.ft_memmove.c.swp
.ft_memset.c.swp
.ft_putchar_fd.c.swp
.ft_putendl_fd.c.swp
.ft_putnbr_fd.c.swp
.ft_putstr_fd.c.swp
.ft_split.c.swp
.ft_strchr.c.swp
.ft_strdup.c.swp
.ft_strjoin.c.swp
.ft_strlcat.c.swp
.ft_strlcpy.c.swp
.ft_strlen.c.swp
.ft_strmapi.c.swp
.ft_strncmp.c.swp
.ft_strnstr.c.swp
.ft_strrchr.c.swp
.ft_strtrim.c.swp
.ft_substr.c.swp
.ft_tolower.c.swp
.ft_toupper.c.swp
.ft_lstadd_back.c.swp
.ft_lstadd_front.c.swp
.ft_lstclear.c.swp
.ft_lstdelone.c.swp
.ft_lstiter.c.swp
.ft_lstlast.c.swp
.ft_lstmap.c.swp
.ft_lstnew.c.swp
.ft_lstsize.c.swp
ft_atoi.o
ft_bzero.o
ft_calloc.o
ft_isalnum.o
ft_isalpha.o
ft_isascii.o
ft_isdigit.o
ft_isprint.o
ft_itoa.o
ft_memccpy.o
ft_memchr.o
ft_memcmp.o
ft_memcpy.o
ft_memmove.o
ft_memset.o
ft_putchar_fd.o
ft_putendl_fd.o
ft_putnbr_fd.o
ft_putstr_fd.o
ft_split.o
ft_strchr.o
ft_strdup.o
ft_strjoin.o
ft_strlcat.o
ft_strlcpy.o
ft_strlen.o
ft_strmapi.o
ft_strncmp.o
ft_strnstr.o
ft_strrchr.o
ft_strtrim.o
ft_substr.o
ft_tolower.o
ft_toupper.o
ft_lstadd_back.o
ft_lstadd_front.o
ft_lstclear.o
ft_lstdelone.o
ft_lstiter.o
ft_lstlast.o
ft_lstmap.o
ft_lstnew.o
ft_lstsize.o
libft.a
main.c
a.out
libft.h.gch
.libft.h.swp
